@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #333;
}

.primary-btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: tan;
  text-align: center;
  margin: 0 auto;
}

.primary-btn:hover {
  color: #fff;
}

.bordered-primary-btn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid tan;
  text-align: center;
  margin: 0 auto;
}

.bordered-primary-btn:hover {
  color: #333;
}

.primary-bg {
  background-color: tan;
}

.counterbtn .primary-btn {
  width: 40px;
}

.counterbtn .primary-btn i {
  font-size: 15px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.navbar-nav a {
  font-size: 18px;
  font-weight: 600;
}

.cart .fa-shopping-cart,
.cart .fa-user,
.cart .fa-sign-out {
  position: relative;
  font-size: 18px;
}

.cart span {
  position: absolute;
  top: 12px;
  right: 2px;
  background-color: tan;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-weight: 500;
  display: grid;
  place-items: center;
  border: 1px solid #fff;
}


.heart span {
  position: absolute;
  top: 12px;
  background-color: tan;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-weight: 500;
  display: grid;
  place-items: center;
  border: 1px solid #fff;
}

.buttons i{
  color: #535353;
  font-size: 17px;
}
.fas.fa-heart{
  color: tan;
}

img {
  object-fit: contain;
}

.header_top {
  background-color: tan;
}

.header_top p,
.header_top ul li a,
.header_top ul li i {
  color: #fff;
}


.designcard .fa-heart {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 0;
  z-index: 1;
}

@media screen and (max-width:992px) {

  .header_top p,
  .header_top ul li a,
  .header_top ul li i {
    font-size: 11px;
  }

  .header_top ul {
    justify-content: flex-start !important;
  }

  .navbar .buttons .shpcart {
    display: none;
  }

  .cart.d-none {
    display: inline-block !important;
    margin-right: 20px;
    font-size: 24px;
  }

  .cart span {
    top: -10px;
    right: -15px;
  }
}


@media screen and (max-width:500px) {
  .buttons .btn {
    font-size: 8px;
    padding: 4px;
  }

  .card-body {
    position: unset !important;
    opacity: 1 !important;
    transform: none !important;
  }

  .designcard .card:hover .card-img-top {
    transform: none !important;
    opacity: 1 !important;
  }

  .singleproduct .bordered-primary-btn,
  .singleproduct .primary-btn,
  .maincontent .primary-btn {
    width: 100% !important;
  }
}


.productadded:nth-child(even) {
  border-left: 1px solid lightgrey;
}


.header_top ul li a {
  text-decoration: none;
}

.header_top ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0 !important;
  justify-content: flex-end;
}

.navbar {
  border-bottom: 3px solid tan;
}

.navbar-brand {
  letter-spacing: 3px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand::first-letter,
h1::first-letter {
  color: tan;
  font-size: 36px;
}

.navbar .nav-item a {
  font-size: 13px;
}


.designcard {
  position: relative;
  cursor: pointer;
}

.designcard .card {
  border: none;
}

.designcard .card-body {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  transition: .3s ease-in-out;
  background-color: #f9f9f9;
}

.designcard .card:hover .card-img-top {
  opacity: .3;
  transform: scale(1.25);
  transition: .3s ease-in-out;
}

.designcard .card:hover .card-body {
  opacity: 1;
}



.contact .info {
  border-top: 3px solid tan;
  border-bottom: 3px solid tan;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
}

.contact .email_form {
  width: 100%;
  border-top: 3px solid tan;
  border-bottom: 3px solid tan;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email_form .form-group {
  margin-bottom: 20px;
}

.contact .email_form label {
  padding-bottom: 8px;
}

.contact .email_form input {
  height: 44px;
}

.contact .email_form input,
.contact .email_form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.footer {
  color: #fff;
}

.footer .footer-content {
  background: #f9f9f9;
  padding: 60px 0 30px 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}


.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}


.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul i {
  padding-right: 2px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1;
}

.footer .footer-content .footer-links ul a {
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

.footer .footer-content .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

.footer .footer-content .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: tan;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}